@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-poppins: "Poppins", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
